<div class="container-product-list">
  @for (product of products; track $index) {
  <div class="container-product">
    <div class="product-img">
      <img [src]="product.imageUrl" [alt]="product.name" />
    </div>
    <div class="product-details">
      <span class="product-name">{{ product.name }}</span>
      <span class="product-availability">
        {{ product.available ? "Disponível" : "Indisponível" }}
      </span>
      <span class="product-price"
        >R$ {{ product.price | number : "1.2-2" }}</span
      >
    </div>
  </div>

  }
</div>
